*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
/*------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------*/
/*upper part of header*/
/*.header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
}*/

.upper-part{
    width: 100%;
    height: 55px;
}
.left-upper-part{
    width: 380px;
    height: 55px;
    float: left;
    background-color:black;
    color: white;
}
.mid-upper-part{
    width: calc(100% - 700px);
    height: 55px;
    float: left;
    background-color: #131921;
}
.right-upper-part{
    width: 320px;
    height: 55px;
    float: left;
    background-color:#131921;
    color: white;
}
/*left-upper-part*/

.logo{
    width: 50%;
    height: 55px;
    float: left;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    
}
.logo img{
    width: 100px;
    align-items: center;
    vertical-align: middle;
}

.loc{
    width: 50%;
    height: 55px;
    float: left;    
}
.loc img{
    width: 20px;
    padding-top: 20px;
}
.loc1{
    float: left;
    width: 20px;
    height: 50px;
}
.loc2{
    float: left;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding-top: 10px;
}
a[target]{
    color:white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}


/*mid-upper-part*/

.dropdown{
    width: 50px;
    height: 40px;
    float: left;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    background-color: rgb(192, 197, 201);
    color: black;
    border: none;
}
.searchbox{
    width:calc(100% - 100px);
    height: 55px;
    float: left;
    padding-top: 6px;
}
.search{
    width:100%;
    height: 40px;
}
.search-btn{
    float: left;
    padding-top: 6px;
}
.search-btn img{
    width: 100%;
    height: 33px;
    border: none;
    padding: 5px;
}

/*right-upper-part*/

.lang{
    width: 50px;
    height: 55px;
    float: left; 
    padding:10px;
}
.lang img{
    width: 25px;
    padding-top: 10px;
}
.account{
    width: 120px;
    height: 55px;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 10px;
}
.order{
    width: 80px;
    height: 55px;
    float:left;
    font-size: small;
    padding: 10px;


}
.cart{
    width: 70px;
    height: 55px;
    float: left;
    font-size: smaller;
    padding: 6px;
}
.cart img{
    width: 30px;
}
/*lower part of header*/

.lower-part{
    width: 100%;
    height: 40px;
    background-color: #232f3e;
    font-size: medium;
}
/*left lower part*/

.left-lower-part{
    width: 52px;
    height: 40px;
    float: left;
    padding: 7px;
}
.n:hover{
    border: 1px solid white;
}
/*mid lower part*/

.mid-lower-part{
    width: calc(100% - 52px);
    height: 40px;
    float: left;
    padding-top: 10px;
}
.nav_2{
    padding: 3px;   
}
.nav_2:hover{
    border: 1px solid white;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* form page*/

.form{
    width: 100%;
    height: 1000px;
}
.formcontainer{
    width: 50%;
    height: 980px;
    margin: 0 auto;
    padding: 10px;
}
.heading{
    padding: 8px;
}
.address{
    font-size: small;
    text-decoration: none;
}
.highlight{
    color: red;
}
.addressdescription{
    font-size: small;
}
.addressdescription a[href]{
    text-decoration: none;
}
.data{
    padding: 10px;
}
.formcontainer input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
input[placeholder]{
    padding: 10px;
}
input{
    padding: 10px;
}
.select{
    width: 100%;
    height: 30px;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
}
label{
    font-size: small;
    font-weight: bold;
}

.button{
    width: 100px;
    height: 30px;
    background-color: goldenrod;
    border: none;
    cursor: pointer;
    margin: 15px;
}
.button:hover{
    opacity: 0.9;
}
