*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
/*------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------*/
/*upper part of header*/

.header{
    width: 100%;
    height: auto;
}

.upper-part{
    width: 100%;
    height: 55px;
}
.left-upper-part{
    width: 380px;
    height: 55px;
    float: left;
    background-color:black;
    color: white;
}
.mid-upper-part{
    width: calc(100% - 700px);
    height: 55px;
    float: left;
    background-color: #131921;
}
.right-upper-part{
    width: 320px;
    height: 55px;
    float: left;
    background-color:#131921;
    color: white;
}
/*left-upper-part*/

.logo{
    width: 50%;
    height: 55px;
    float: left;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    
}
.logo img{
    width: 100px;
    align-items: center;
    vertical-align: middle;
}

.loc{
    width: 50%;
    height: 55px;
    float: left;    
}
.loc img{
    width: 20px;
    padding-top: 20px;
}
.loc1{
    float: left;
    width: 20px;
    height: 50px;
}
.loc2{
    float: left;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding-top: 10px;
}
a[target]{
    color:white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}


/*mid-upper-part*/

.menu{
    width: 50px;
    height: 40px;
    float: left;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    background-color: rgb(192, 197, 201);
    color: black;
}
.searchbox{
    width:calc(100% - 100px);
    height: 55px;
    float: left;
    padding-top: 6px;
}
.search{
    width:100%;
    height: 40px;
}
.search-btn{
    float: left;
    padding-top: 6px;
}
.search-btn img{
    width: 100%;
    height: 33px;
    border: none;
    padding: 5px;
}

/*right-upper-part*/
 /*-----------------------------------------lang-----------------------------------------------------
   The dropdown container */
  .dropdown {
    width: 50px;
    height: 55px;  
    float: left;
    background-color: black;
  }
  .dropdown img{
      width: 25px;
      float: left; 
      padding-top:8px;
  }

  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    padding: 14px 16px;
    background-color: black;
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
/*--------------------------------------------------------Account-------------------------------*/
.account{
    width: 120px;
    height: 55px;
    float:left;
    font-size: small;
    padding: 10px;
}
.order{
    width: 80px;
    height: 55px;
    float:left;
    font-size: small;
    padding: 10px;
}
.cart{
    width: 70px;
    height: 55px;
    float: left;
    font-size: smaller;
    padding: 6px;
}
.cart img{
    width: 30px;
    float: left;
}
/*lower part of header*/

.lower-part{
    width: 100%;
    height: 40px;
    background-color: #232f3e;
    font-size: medium;
}
/*left lower part*/

.left-lower-part{
    width: 52px;
    height: 40px;
    float: left;
    padding: 7px;
}
.n:hover{
    border: 1px solid white;
}
.sidenav{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}
.sidenav a{
    text-decoration: none;
    color:grey;
    line-height: 30px;
    display: block;
    padding: 5px 13px;
    font-size: small;
}
.sidenav a:hover{
    background-color: rgb(231, 227, 227);
}
.closebtn{
    position: absolute;
    right: 0;
    font-size: 35px !important;
    color: white !important;
}
.sidenav h3{
    width: 100%;
    height: 50px;
    padding: 15px;
    background-color: red;
    color: white;
    background-color: #232f3e;
}
.sidenav h4{
    padding: 12px;
}

/*mid lower part*/

.mid-lower-part{
    width: calc(100% - 52px);
    height: 40px;
    float: left;
    padding-top: 10px;
}
.nav_2{
    padding: 3px;   
}
.nav_2:hover{
    border: 1px solid white;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

                                                  /* section part */
.section{
    width: 100%;
    height: auto;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*---------------------------------------------first part of section----------------------------------*/
/* Slideshow container */
.firstpartofsection{
    position: relative;
}
.slideshow-container {
    max-width: 100%;
    height: 742px;
    margin: auto;
  }
  .slideshow-container img{
      width: 100%;
      height: 740px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .slideshow-container .prev, .next {
      width: 100px;
      height: 45%;
      cursor: pointer;
      position: absolute;
      top: 0;
      padding-top: 130px;
      color: white;
      text-align: center;
      font-size: 40px;
      background-color:transparent;
  }
  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .slideshow-container .prev:active, .next:active {
      border: 2px solid white;
  }
  
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  
  .card{
      width: 100%;
      height: 410px;
      position: absolute;
      bottom:0;
      background-color:transparent;
  }
  .card-1stchild{
      width: 320px;
      height: 390px;
      float: left;
      margin: 7px;
      text-align: center;
      background-color: white;
  }
  .grandchild1{
      width: 100%;
      height: 50px;
      padding: 5px;
  }
  .grandchild2{
      width: 100%;
      height:calc(100% - 80px) ;
  }
  .a{
      width: 100%;
      height: 150px;
      font-size: small;
      line-height: 20px;
  }
  .aa{
      width: 45%;
      height: 120px;
      float:left;
      margin: 5px;
  }
  .aa img{
      width: 100%;
      height: 100%;
  }
  .ab{
      width: 45%;
      height: 120px;
      float:left;
      margin: 5px;
  }
  .ab img{
      width: 100%;
      height: 100%;
  }
  .b{
      width: 100%;
      height: 150px;
      font-size: small;
      line-height: 20px;
  }
  .ba{
      width: 45%;
      height: 120px;
      float:left;
      margin: 5px;
  }
  .ba img{
      width: 100%;
      height: 100%;
  }
  .bb{
      width: 45%;
      height: 120px;
      float:left;
      margin: 5px;
  }
  .bb img{
      width: 100%;
      height: 100%;
  }
  .grandchild3{
      width: 100%;
      height: 30px;
      font-size: small;
  }
  .grandchild3 a{
      text-decoration: none;
      color: rgb(47, 143, 143);
  }
  
  .card-2ndchild{
      width: 310px;
      height: 390px;
      float: left;
      margin: 7px;
      background-color: white;
      text-align: center;
  }
  .grandchild-a{
      width: 100%;
      height: 50px;
      padding: 5px;
  }
  .grandchild-b{
      width: 100%;
      height:calc(100% - 80px) ;
  }
  .grandchild-b img{
      width: 100%;
      height: 100%;
      padding: 10px;
  }
  .grandchild-c{
      width: 100%;
      height: 30px;
      font-size: small;
  }
  .grandchild-c a{
      text-decoration: none;
      color:rgb(47, 143, 143) ;
  }
  .card-3rdchild{
      width: 310px;
      height: 390px;
      float: left;
      margin: 5px;
      background-color: white;
      text-align: center;
  }
  .card-4thchild{
      width:calc(100% - 990px);
      height: 390px;
      float: left;
      margin: 5px;
      background-color: white;
      text-align: center;
  }
  
  /*-----------------------------------second part of section------------------------------------------*/
  .product{
      width: 100%;
      height: auto;
      background-color: rgb(224, 214, 223);
  }
  .card2{
      width: 100%;
      height: 420px;
      background: transparent;
      padding: 10px;
  }
  .card2child1{
      width: calc(100% - 700px);
      height: 390px;
      float: left;
      margin: 5px;
  
  }
  .card2child1 img{
      width: 100%;
      height: 100%;
  }
  .card2child2{
      width: 320px;
      height: 390px;
      float: left;
      margin: 5px;
      background-color: white;
      text-align: center;
  }
  .card2child3{
      width: 340px;
      height: 390px;
      float: left;
      margin: 5px;
      background-color: white;
      text-align: center;
  }
  
/*.card3{
    width: 100%;
    height: 330px;
}
.cardparent{
    width: 97%;
    height: 92%;
    margin: 15px;
    padding: 15px;
    background-color: white;
}
.cardheading span{
    font-size:20px;
    font-weight: bold;
}
.cardheading a[href]{
    text-decoration: none;
    font-size: small;
}
.cardchild{
    width: 155px;
    height: 250px;
    float: left;
}
.cardchild img{
    width: 80%px;
    height: 80%px;
    padding: 18px;
}
.card4{
    width: 100%;
    height: 330px;
}*/

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* footer part */

/*footer1*/

.footer1{
    width: 100%;
    height: 50px;
    background-color: #384b61;
    color: #DDD;;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    padding: 18px;
}

/*footer2*/

.footer2{
    width: 100%;
    height: 300px;
    color: #DDD;;
    background-color: #232f3e;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    display: grid;
    place-items: center;
    font-size: smaller;
}
.footer2-parent{
    width: 80%;
    height: 300px;
}
.footer2-parent ul li{
    list-style-type: none;
    line-height: 20px;
}
.footer2-child{
    width: 25%;
    height: 300px;
    float: left;
    padding: 50px;
}

/*footer3*/

.footer3{
    width: 100%;
    height: 150px;
    background-color: #232f3e;
    color: #DDD;
}
.footerbase
{
    width: 100%;
    height: 100px;
}
.footerlogo{
    width: 50%;
    height: 100px;
    float: left;
    position: relative;
}
.footerlogo img{
    width:80px;
    height: 30px;
    position: absolute;
    top: 45px;
    left: 520px;
    align-items: center;
}
.language
{
    width: 50%;
    height: 100px;
    float: left;
    padding: 40px;
}
.by_default_option{
    width: 100px;
    height: 35px;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
    padding-left: 15px;
}

.language img{
    width: 18px;
    height: 22px;
    padding-top: 8px;

}
.country{
    width: 100%;
    height: 50px;
    padding-left: 100px;
}
.country ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

/*footer4*/

.footer4{
    width: 100%;
    height: 170px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 15px;
    display: grid;
    place-items: center;
    margin: 0 auto;
}
.footer4-parent{
    width:80%;
    height: 120px;
}
.footer4-child{
    width: 20%;
    height: 120px;
    float: left;
    padding: 5px;
}


/*footer5*/

.footer5{
    width: 100%;
    height: 55px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.footer5 ul li{
    display: inline;
    padding: 20px;
}


.prevarrowcursor{
    position: absolute;
    left: 35px;
    margin-top: 90px;
    height: 50px;
    width: 20px;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
}
.prevarrowcursor:hover{
    background-color: rgba(245, 241, 241, 0.89);
    color: #384b61;
}
.nextarrowcursor{
    position: absolute;
    right: 35px;
    margin-top: 90px;
    height: 50px;
    width: 20px;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
}
.nextarrowcursor:hover{
    background-color: rgba(245, 241, 241, 0.89);
    color: #384b61;
}

