*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.product{
    width: 100%;
    height: auto;
}

/*------------------------------------------------------upperpart------------------------------------*/

.upperpart{
    width: 100%;
    height: 880px;
}

/* left part*/

.leftpart{
    width: 400px;
    height: 650px;
    float:left;
    padding: 20px;
}
.leftpart-1stchild{
    width: 50px;
    height: 400px;
    float: left;
    text-align: center;
}
.leftpart-1stchild ul{
    list-style: none;
    font-size: 8px;
    font-weight: bold;
    line-height: 15px;
    color: rgb(66, 73, 80);
}
.leftpart-1stchild ul img{
    width: 80%;
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
}
.leftpart-1stchild ul img:hover{
    opacity: 1;
}
.leftpart-2ndchild{
    width: calc(100% - 80px);
    height: 600px;
    float: right;
    font-size: small;
    text-align: center;
    color: rgb(66, 73, 80);
}
.leftpart-2ndchild img{
    width: 100%;
    height: 100%;
}

/* center part*/

.centerpart{
    width: calc(100% - 700px);
    height: 865px;
    float: left;
}
.description{
    width: 100%;
    height: 260px;
    padding: 10px;
    line-height: 28px;
}
.description p{
    font-size: larger;
}
.desp{
    color: rgb(0, 105, 210);
    font-size: small;
}
.desp img{
    width: 20px;
    height: 20px;
}
.rw ul li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    font-size: small;
    color:rgb(0, 105, 210) ;
}
.rw img{
    width: 30px;
    height: 30px;
}
.product-description{
    width: 100%;
    height: 600px;
    line-height: 20px;
    padding: 8px;
}
.product-description{
    line-height: 25px;
}
.product-description h4{
    color: brown;
}
.product-description p{
    font-size: small;
}
.product-description ul li{
    font-size: small;
    list-style-type: circle;
}
.newmodel img{
    width: 80px;
    height: 90px;
}
.newmodel{
    float: left;
}
.newmodeldes{
    font-size: small;
    color: rgb(0, 105, 210);
}

/*right part*/

.rightpart{
    width: 300px;
    height: 200px;
    float :left;
    padding: 10px;
}
.upperchild{
    width: 100%;
    height: 33px;
}
.share{
    width: 100px;
    height: 30px;
    float:left;
    padding: 5px;
    text-align: right;
}
.share a[href]{
    text-decoration: none;
    color: black;
}
.socialmedia{
    width: calc(100% - 100px);
    height: 30px;
    float: right;
}
.socialmedia ul li{
    display: inline;
}
.socialmedia ul li img{
    width: 25px;
    height: 25px;
}
.status{
    width: 100%;
    height: 150px;
    border: 1px solid lightgray;
    padding: 8px;
    text-align: center;
    line-height: 20px;
}
.status h4{
    color: brown;
}
.status p{
    font-size: small;
}
.status .btn{
    width: 80%;
    height: 25px;
    text-align: left;
    padding: 3px;
    cursor: pointer;
}

/*-----------------------------------------------midpart---------------------------------------------*/

.midpart{
    width: 100%;
    height: 400px;
}
.similarproducts{
    padding: 40px;
}
.similarproducts table ,td,tr{
    border-collapse: collapse;
    font-size: small;
    text-align: center;
    padding: 10px;
}
.midpart img{
    width: 100px;
    height: 100px;
}
.price{
    color: brown;
    font-weight: bold;
}
.price img{
    width: 10px;
    height: 20px;
}
.desp img{
    width: 20px;
    height: 20px;
}
.similarproducts .btn{
    width: 150px;
    height: 30px;
    background: goldenrod;
    border: none;
    opacity: 0.9;
}
.similarproducts .btn:hover{
    opacity: 1;
}
