*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*upper part of header*/
.upper-part{
    width: 100%;
    height: 55px;
}
.left-upper-part{
    width: 380px;
    height: 55px;
    float: left;
    background-color:#131921;
    color: white;
}
.mid-upper-part{
    width: calc(100% - 700px);
    height: 55px;
    float: left;
    background-color: #131921;
    color: white;
}
.right-upper-part{
    width: 320px;
    height: 55px;
    float: left;
    background-color:#131921;
    color: white;
}
/*left-upper-portion*/

.logo{
    width: 50%;
    height: 55px;
    float: left;
    padding: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    
}
.logo img{
    width: 100px;
    align-items: center;
    vertical-align: middle;
}

.loc{
    width: 50%;
    height: 55px;
    float: left;
    
}
.loc1{
    float: left;
    width: 20px;
    height: 50px;  
}
.loc2{
    float: left;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    padding-top: 10px;
}


a[target]{
    color:white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}


/*mid-upper-portion*/
.wrapper{
    width: 650px;
    height: 55px;
    border: 1px solid white;
}

/*right-upper-portion*/

.lang{
    width: 50px;
    height: 55px;
    float: left;
    padding: 10px;
}
.lang img{
    width: 30px;
}
.account{
    width: 120px;
    height: 55px;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 10px;
}
.order{
    width: 80px;
    height: 55px;
    float:left;
    font-size: small;
    padding: 10px;
}
.cart{
    width: 70px;
    height: 55px;
    float: left;
    font-size: smaller;
    padding: 5px;
}
.cart img{
    width: 30px;
}
/*lower part of header*/

.lower-part{
    width: 100%;
    height: 40px;
    background-color: #232f3e;
}
.left-lower-part{
    width: 4%;
    height: 40px;
    float: left;
    padding: 8px;
}
.mid-lower-part{
    width: 96%;
    height: 40px;
    float: left;
    padding: 10px;

}


