*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*upper part of header*/
.upper-part{
    width: 100%;
}
.left-upper-part{
    width: 300px;
    height: 60px;
    float: left;
    background-color:#131921;
    color: white;
}
.mid-upper-part{
    width: calc(100% - 700px);
    height: 60px;
    float: left;
    background-color: #131921;
    color: white;
}
.right-upper-part{
    width: 400px;
    height: 60px;
    float: left;
    background-color:#131921;
    color: white;
}
/*left-upper-portion*/

.logo{
    width: 120px;
    height: 45px;
    float: left;
    position: relative;
    left: 12px;
    top:8px;
    border: 1px solid white;
    
}
.logo img{
    width: 110px;
    padding-left: 5px;
    padding-top: 5px;
}
.loc{
    width: 150px;
    height: 45px;
    float: left;
    position: relative;
    left: 20px;
    top: 8px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;

}

/*mid-upper-portion*/



/*lower part of header*/
.lower-part{
    width: 100%;
}